---
import { cn } from '@/utils'

interface Tool {
	name: string
	href?: string
	icon: any // React Component
	iconBgColour: string
}

interface Props {
	className?: string
	title: string
	tools: Tool[]
}

const { className, title, tools, ...props } = Astro.props
---

<div
	class={cn(
		className,
		'flex flex-col rounded-xl border border-border py-6 px-4 gap-y-4 sm:gap-y-6'
	)}
	{...props}
>
	<h2 class='px-2 text-lg font-medium'>{title}</h2>
	<div class='grid grid-cols-2 gap-4 md:grid-cols-3'>
		{
			tools.map((tool) => {
				const Icon = tool.icon
				return (
					<div class='flex items-center gap-3'>
						<div
							class='transform rounded-md p-2 transition-all duration-200 group-hover:scale-110'
							style={`background-color: ${tool.iconBgColour}`}
						>
							<Icon className='h-6 w-6 text-white' />
						</div>
						<h3 class='font-semibold'>{tool.name}</h3>
					</div>
				)
			})
		}
	</div>
</div>
